SUPABASE_URL=https://uzynuctmtvwolitkrswm.supabase.co
SUPABASE_SERVICE_ROLE_KEY=eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InV6eW51Y3RtdHZ3b2xpdGtyc3dtIiwicm9sZSI6InNlcnZpY2Vfcm9sZSIsImlhdCI6MTc3MjE1MTMzMywiZXhwIjoyMDg3NzI3MzMzfQ.VRhT7U0txWndPFxrCH2jUzZuzpmvsooxXmyeUHfibXo
